# For openocd.
# ============

#------------------------------------------------------------------------
# Author:	Franzi Edo.	The 2006-06-28
# Modifs:
#
# SVN:
# $Author:: efr               $:  Author of last commit
# $Rev:: 113                  $:  Revision of last commit
# $Date:: 2017-04-16 16:55:48#$:  Date of last commit
#
# Project:	uKOS
# Goal:		script for burning the arm flash via the openocd.
#			- OSX usage:
#			  sudo kextunload /Library/Extensions/FTDIUSBSerialDriver.kext/
#			  openocd -f jtag_FTDI.cfg
#			  sudo kextload /Library/Extensions/FTDIUSBSerialDriver.kext/
#
#			- Ubuntu usage:
#			  sudo rmmod ftdi_sio
#			  sudo rmmod usbserial
#			  openocd -f jtag_FTDI.cfg
#			  sudo modprobe ftdi_sio
#			  sudo modprobe usbserial
#
#   (c) 1992-2017, Franzi Edo.
#   --------------------------
#                                              __ ______  _____
#   Franzi Edo.                         __  __/ //_/ __ \/ ___/
#   5-Route de Cheseaux                / / / / ,< / / / /\__ \
#   CH 1400 Cheseaux-Noréaz           / /_/ / /| / /_/ /___/ /
#                                     \__,_/_/ |_\____//____/
#   edo.franzi@ukos.ch
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program. If not, see <http://www.gnu.org/licenses/>.
#
#------------------------------------------------------------------------

# - New interface (it replaces the old ft2232)
# - Operate with the ft4232 (0x0403 0x6011)
# - JTAG on the channel B (1)
#                TMS TDO TDI CLK             TMS TDO TDI CLK
# - GPIO, data = 1   0   0   0, Directions = O   I   O   O
interface ftdi
ftdi_vid_pid 0x0403 0x6011
ftdi_channel 1
ftdi_layout_init 0x0008 0x000b

source [find target/stm32f7x.cfg]
adapter_khz 100
reset_config none

# Compiled in 0x00200000 and burned in 0x08000000
# Execution using the ART and the ITCM bus
program ./EPROM.bin 0x08000000 verify reset exit
